<footer class="bg-secondary footer container-fluid justify-content-center py-2 mt-auto">
  <div class="d-flex justify-content-center gap-4 text-white">
    <span>JitzCamp</span>
    <p class="text-muted">All rights reserved &copy; <%- new Date().getFullYear()  %></p>
  </div>
</footer>