<% layout('layouts/boilerplate') -%>
  <h1 class="text-4xl text-orange-400 text-center">Welcome to Jitzcamp</h1>
  <a href="/campgrounds" class="text-center mx-auto underline text-blue-400">View all</a>