<% layout('layouts/boilerplate') -%>

  
<div class="row">
  <h1 class="text-center">New Listing</h1>

  <div class="col-6 offset-3 my-3">
    <form action="/campgrounds" method="post"  >
      <div class="mb-3" >
        <label class="form-label"   for="title">Title</label>
        <input  class="form-control"   type="text" id="title" name="campground[title]">
      </div>
      <div>
        <label class="form-label"  for="location">Location</label>
        <input class="form-control" type="text" id="location" name="campground[location]">
      </div>

      <div class="my-3">
        <label class="form-label"  for="price">Price</label>

        <div class="input-group">
          <span class="input-group-text">$</span>
          <input  name="campground[price]" id="price" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
          <span class="input-group-text">.00</span>
        </div>
      </div>

      <div>
        <label class="form-label"  for="image">Image</label>
        <input class="form-control" type="text" id="image" name="campground[image]">
      </div>
      <div class="my-3 form-floating">
        <textarea name="campground[description]" class="form-control" placeholder="Leave a comment here" id="description"></textarea>
        <label for="description">Description</label>
      </div>
      <button type="submit" class="btn btn-outline-primary my-3 " >Submit</button>
    </form>
    <a href="/campgrounds" class="link-offset-1"><-All Listings</a>
  </div>
  
</div>